<div class="level">
    <div class="level-left">
        <div class="level-item">
            <div class="field">
                <p class="control">
                    <a class="button is-primary is-inverted" title="_P_revious lines" accesskey="p">
                        <span class="icon">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="level-item">
        <h1 *ngIf="book" class="title">{{book.title}}</h1>
        <a class="button is-text" [routerLink]="['/books/edit']">
            <span class="icon">
                <fa-icon [icon]="faPencilAlt"></fa-icon>
            </span>
        </a>
    </div>
    <div class="level-right">
        <div class="level-item">
            <div class="field">
                <p class="control">
                    <a class="button is-primary is-inverted" title="_N_ext lines" accesskey="n">
                        <span class="icon">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<kht-annotate-line *ngFor="let shape of highlightShapes; let i = index"
                   [offset]="offsets[i]"
                   [shape]="shape"
                   (count)="updateCount(i, $event)"></kht-annotate-line>
