@import '../../variables';

$maskBackground: rgba(black, 0.5);

:host {
    line-height: 0;
    overflow: hidden;
}

.mask {
    fill: $maskBackground;
}

.hypo-toggle {
    transition: color 0.5s ease;
}

.footer {
    background: $maskBackground;
    line-height: 1.5;
    padding: 10px;

    .content {
        text-shadow: 0px 2px 2px black;
    }
}

.research-notes {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;

    .textarea {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

// fullscreen mode when showing context
.context-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .page-view {
        flex: 1;

        kht-page-marker {
            display: flex;
            flex: 1;
            flex-direction: column;
        }
    }

    .line-entry {
        background: rgba(255, 255, 255, 50%);
        align-self: flex-end;
        width: 100vw;

        footer {
            padding: 20px;
            padding-right: 40px;
        }
    }

    .page-view,
    .line-entry {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
