@import '../../colors';

.page-number {
    text-align: right;
    width: 5em;
}

.button {
    transition: background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.button.is-active.is-chapter {
    background: $chapter;
    border-color: darken($chapter, 20%);
    color: $white-bis;
}
