<p #transcription contenteditable="true" class="input transcription" [tabindex]="tabindex" (focus)="updateSelection()"
  (click)="updateSelection()" (keydown)="keydown($event)" (keyup)="keyup()" (cut)="onCut($event)" (copy)="onCopy($event)"
  (paste)="onPaste($event)" [dir]="dir"><span #partSpan *ngFor="let part of parts.items$ | async"
    [ngClass]="{'is-hypotext':part.hypo}" [ngStyle]="{'display': parts.length > 1 || part.text.length ? '' : 'none'}"
    [attr.data-part-id]="part.id"></span>
</p>
