@import '../../colors';

$transition-duration: 0.5s;
$transition-timing: ease;

.input.transcription {
    white-space: pre;

    &[dir="rtl"] {
        text-align: right;
    }

    span::selection {
        background-color: $text;
        color: $white-ter;
    }

    span.is-hypotext {
        color: $danger;
        font-weight: bold;

        &::selection {
            background-color: $danger;
            color: $white-ter;
        }
    }
}
