<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">Name of manuscript</span>
            <span class="tag is-black">Author name</span>
        </div>
    </div>
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">Page 53/240</span>
            <span class="tag is-black">Line 13/50</span>
        </div>
    </div>
    <ng-container *ngFor="let label of labels; let i = index">
        <kht-edit-label class="control" [editing]="label.editing"
                        [label]="label.text"
                        (cancel)="cancel(i)"
                        (commit)="commit($event, i)"
                        (delete)="delete(i)"
                        (edit)="edit(i)"></kht-edit-label>
    </ng-container>
    <kht-edit-label #editLabel class="control" *ngIf="adding" [editing]="true"
                    (cancel)="cancelAdding()"
                    (delete)="cancelAdding()"
                    (commit)="commit($event)">
    </kht-edit-label>
    <div class="control" *ngIf="!adding">
        <div class="tags">
            <button class="tag add-tag" (click)="add()">
                Add&nbsp;<u>l</u>abel
            </button>
        </div>
    </div>
</div>
