@import '../../variables';

$strokeWidth: 2px;
$strokeDasharray: 4;

.is-dragging {
    display: none;
}

%smooth {
    transition: all 0.2s;
}

.square,
.polygon {
    @extend %smooth;
    fill: rgba($primary, 0.5);
    stroke: $primary;
    stroke-width: $strokeWidth;

    &.is-chapter {
        fill: rgba($chapter, 0.5);
        stroke: $chapter;
    }
}

.pages {
    @extend %smooth;
    stroke: $primary;
    stroke-width: $strokeWidth*4;
}

.text-line {
    @extend %smooth;
    stroke: rgba($text, 0.8);
    stroke-width: $strokeWidth*2;
}

.hover-mark {
    cursor: pointer;
}

.is-draft {
    fill: $primary;

    &.is-chapter {
        fill: $chapter;
    }

    &.is-mark {
        stroke: $primary;
        stroke-width: 1px;

        &.is-chapter {
            stroke: $chapter;
        }

        &.is-hover {
            @extend %smooth;
            stroke-width: 20px;
        }
    }

    &.is-line {
        stroke: $primary;
        stroke-width: $strokeWidth;
        stroke-dasharray: $strokeDasharray;

        &.is-chapter {
            stroke: $chapter;
        }

        &.pages {
            @extend .pages;
        }

        &.text-line {
            @extend .text-line;
        }
    }

    &.polygon {
        fill: rgba(white, 0.5);
        stroke: $primary;
        stroke-width: $strokeWidth;
        stroke-dasharray: $strokeDasharray;

        &.is-chapter {
            stroke: $chapter;
        }

        .hover-mark & {
            stroke-dasharray: none;
        }
    }
}

svg[data-mode="remove"] {

    .square:hover,
    .polygon:hover,
    .pages:hover,
    .text-line:hover {
        cursor: pointer;
        fill: rgba($danger, 0.8);
        stroke: rgba($danger, 0.8);
    }

    .pages,
    .text-line {
        stroke-width: $strokeWidth*8;
    }
}

:host:hover .is-dragging {
    display: block;
}
