<svg style="width: 100%" #canvas [attr.class]="mode" [ngClass]="{'hover-first-mark': hoverFirstMark}">
    <image xlink:href="assets/page.jpg" [attr.height]="height" [attr.width]="width" />
    <ng-container *ngFor="let shape of shapes">
        <rect *ngIf="shape.type === 'square'"
              [id]="shape.id"
              class="square"
              [attr.x]="shape.x"
              [attr.y]="shape.y"
              [attr.width]="shape.width"
              [attr.height]="shape.height" />
        <polygon *ngIf="shape.type === 'polygon'"
                 [id]="shape.id"
                 class="polygon"
                 [attr.points]="shape.points" />
        <line *ngIf="shape.type === 'pages'"
              [id]="shape.id"
              class="pages"
              [attr.x1]="shape.x"
              [attr.x2]="shape.x"
              y1="0"
              [attr.y2]="height" />
        <line *ngIf="shape.type === 'text-line'"
              [id]="shape.id"
              class="text-line"
              [attr.x1]="shape.x1"
              [attr.x2]="shape.x2"
              [attr.y1]="shape.y1"
              [attr.y2]="shape.y2" />
    </ng-container>
    <circle *ngFor="let mark of draftMarks"
            [attr.class]="'is-draft ' + mark.className"
            [attr.cx]="mark.x"
            [attr.cy]="mark.y" r="5" />
    <polygon *ngIf="draftPoints"
             class="is-draft polygon"
             [attr.points]="draftPoints" />
    <line *ngFor="let line of draftLines"
          [attr.class]="'is-line is-draft ' + line.className"
          [attr.x1]="line.x1"
          [attr.y1]="line.y1"
          [attr.x2]="line.x2"
          [attr.y2]="line.y2" />
</svg>
