<table class="table is-hoverable is-clickable is-fullwidth">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Manuscripts</th>
            <th>Annotated Lines</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let manuscript of manuscripts" (click)="markManuscript(manuscript)">
            <td>{{manuscript.title}}</td>
            <td>{{manuscript.author}}</td>
            <td>{{manuscript.manuscripts}}</td>
            <td>{{manuscript.annotatedLines}}</td>
        </tr>
    </tbody>
</table>
