<h1 class="title">Books</h1>
<table class="table is-hoverable is-clickable is-fullwidth">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Manuscripts</th>
            <th>Annotated Lines</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" (click)="viewBook(book)">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.manuscripts.length}}</td>
            <td>{{book.annotatedLines}}</td>
        </tr>
    </tbody>
</table>
<a class="button is-primary" routerLink="/upload">Upload Manuscript</a>
