<h1 class="title">Annotate Books</h1>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Chapters</th>
            <th>Lines</th>
            <th>Asides</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td><a [routerLink]="['/annotate/grouped, book.id']">{{book.chapters}}</a></td>
            <td><a [routerLink]="['/annotate/grouped, book.id']">{{book.lines}}</a></td>
            <td><a [routerLink]="['/annotate/grouped, book.id']">{{book.asides}}</a></td>
        </tr>
    </tbody>
</table>
