<ng-container *ngIf="book">
<h1 class="title">Book &ldquo;{{book.title}}&rdquo;</h1>
<table class="table">
    <tr>
        <th>Author</th>
        <td>{{book.author}}</td>
    </tr>
</table>
</ng-container>
<h2 class="subtitle">Manuscripts</h2>
<kht-manuscripts *ngIf="manuscripts" [manuscripts]="manuscripts"></kht-manuscripts>
<div class="buttons">
    <a class="button is-primary" routerLink="/upload">Upload Manuscript</a>
    <a class="button" routerLink="/annotate">Annotate Manuscripts</a>
</div>
