<form>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Book</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <p-autoComplete [formControl]="book" [suggestions]="results" (completeMethod)="search($event)"
                                    [dropdown]="true"></p-autoComplete>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Title</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Date</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Text Direction</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="textDirection">
                        Right-to-left
                    </label>
                    <label class="radio">
                        <input type="radio" name="textDirection">
                        Left-to-right
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Page Direction</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="pageDirection">
                        Right-to-left
                    </label>
                    <label class="radio">
                        <input type="radio" name="pageDirection">
                        Left-to-right
                    </label>
                </div>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
</form>
