<h1 class="title">Upload a New Manuscript</h1>
<form [formGroup]="manuscriptForm">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Book</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <p-autoComplete formControlName="book" [suggestions]="results" (completeMethod)="search($event)"
                                    [dropdown]="true"></p-autoComplete>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Title</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" formControlName="title">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Date</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" formControlName="date">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Text Direction</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <label class="radio">
                        <input type="radio" value="rtl" name="textDirection" formControlName="textDirection">
                        Right-to-left
                    </label>
                    <label class="radio">
                        <input type="radio" value="ltr" name="textDirection" formControlName="textDirection">
                        Left-to-right
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Page Direction</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <label class="radio">
                        <input type="radio" value="rtl" name="pageDirection" formControlName="pageDirection">
                        Right-to-left
                    </label>
                    <label class="radio">
                        <input type="radio" value="ltr" name="pageDirection" formControlName="pageDirection">
                        Left-to-right
                    </label>
                </div>
            </div>
        </div>
    </div>
    <kht-upload [manuscriptForm]="manuscriptForm"></kht-upload>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary" (click)="uploadManuscript()">Upload</button>
        </div>
    </div>
</form>
