<h1 class="title">Upload a New Manuscript</h1>
<kht-manuscript-form>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">File</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="file" [ngClass]="{'has-name': !!filename}">
                    <label class="file-label">
                        <input class="file-input"
                               type="file"
                               name="manuscript"
                               (change)="detectFilename(fileInput)"
                               accept=".pdf"
                               #fileInput>
                        <span class="file-cta">
                            <span class="file-icon">
                                <fa-icon [icon]="faUpload"></fa-icon>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span class="file-name" *ngIf="filename">
                            {{filename}}
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary">Upload</button>
        </div>
    </div>
</kht-manuscript-form>
