    <div class="field is-horizontal" [formGroup]="manuscriptForm">
        <div class="field-label is-normal">
            <label class="label">File</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="file" [ngClass]="{'has-name': !!filename}">
                    <label class="file-label">
                        <input class="file-input"
                               type="file"
                               name="manuscript"
                               (change)="detectFilename(fileInput)"
                               accept=".pdf,.jpg,.jpeg"
                               #fileInput
                               required>
                        <span class="file-cta">
                            <span class="file-icon">
                                <fa-icon [icon]="faUpload"></fa-icon>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span class="file-name" *ngIf="filename">
                            {{filename}}
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
